<% content_for :page_title do %>Polygons<% end %>

<% content_for :dynamic_js do %>
	<script type="text/javascript">
	var addToHomeConfig = {
		lifespan:4000
	};
	</script>
	<%= stylesheet_link_tag    "add2home", :media => "all" %>
	<%= javascript_include_tag "add2home" %>

	<%= stylesheet_link_tag    "fixer", :media => "all" %>
	<%= stylesheet_link_tag    "jquery.swipeshow", :media => "all" %>
	<%= stylesheet_link_tag    "slideshow-theme", :media => "all" %>
	<%= javascript_include_tag "jquery.swipeshow.min" %>
	<%= javascript_include_tag "tag_building", {:id => "tagbuildingjs", "data-session" => "#{@isNew}", "data-map" => "#{@map}"} %>
<% end %>
<div id="top-nav">
	<%= link_to (content_tag "span","The New York Public Library"), "http://www.nypl.org", {:id => "link-nypl", :title => "Visit NYPL.org"} %>
	<h1><span>Building Inspector</span></h1>
	<%= link_to "?", "javascript:;", {:id => "link-help", :class => "icon"} %>
	<%= link_to "i", "javascript:;", {:id => "link-about", :class => "icon"} %>
</div>

<div id="main-container">
	<div id="loader">LOADING</div>
	<%= render :partial => "partials/tutorial" %>

	<%= render :partial => "partials/about" %>

	<%= render :partial => "partials/score" %>

	<div id="map-container">
		<div id="map"></div>
	</div>
	<div id="buttons">
		<div class="wrapper">
			<a href="javascript:;" id="no-button" title="Keyboard shortcut: 1">NO</a>
			<a href="javascript:;" id="fix-button" title="Keyboard shortcut: 2">FIX</a>
			<a href="javascript:;" id="yes-button" title="Keyboard shortcut: 3">YES</a>
	</div>
</div>
