<% content_for :page_title do %>Building Inspector by NYPL Labs<% end %>

<% content_for :dynamic_js do %>
	<script type="text/javascript">
	var addToHomeConfig = {
		lifespan:4000
	};
	</script>
	<%= stylesheet_link_tag    "lib/add2home", :media => "all" %>
	<%= stylesheet_link_tag    "fixer", :media => "all" %>

	<%= javascript_include_tag "lib/add2home" %>

	<%= javascript_include_tag "tag_building", {:id => "tagbuildingjs", "data-server" => CGI.escape("#{request.protocol}#{request.host_with_port}"), "data-session" => "#{@isNew}", "data-map" => "#{@map}"} %>
<% end %>

<%= render :partial => "partials/nav" %>
<%= render :partial => "partials/tutorial" %>

<div id="main-container">
	<div id="loader">LOADING</div>
	<div id="app-highlight"></div>
	<div id="map-highlight"></div>
	<div id="map-container">
		<div id="map"></div>
	</div>
</div>
<div id="controls">
	<%= render :partial => "partials/score" %>
	<div id="buttons">
		<div class="wrapper">
		<% if user_signed_in? %>
<%
is_beta = false
beta_emails = ["mauricio.giraldo","mauriciogiraldo","mshuster","davidriordan","david.riordan"]
beta_emails.each do |email|
	current_user.email.index(email) != nil
	is_beta = true
	break  
end
if is_beta
%>
			<a href="javascript:;" id="one-hand" rel="nofollow">.</a>
<% end %>
<% end %>
			<a href="javascript:;" id="no-button" title="Keyboard shortcut: 1" rel="nofollow">NO</a>
			<a href="javascript:;" id="fix-button" title="Keyboard shortcut: 2" rel="nofollow">FIX</a>
			<a href="javascript:;" id="yes-button" title="Keyboard shortcut: 3" rel="nofollow">YES</a>
	</div>
</div>
