<% content_for :page_title do %>Polygons<% end %>

<% content_for :dynamic_js do %>
	<%= stylesheet_link_tag    "add2home", :media => "all" %>
	<%= javascript_include_tag "add2home" %>

	<%= stylesheet_link_tag    "fixer", :media => "all" %>
	<%= stylesheet_link_tag    "jquery.swipeshow", :media => "all" %>
	<%= stylesheet_link_tag    "slideshow-theme", :media => "all" %>
	<%= javascript_include_tag "jquery.swipeshow.min" %>
	<%= javascript_include_tag "tag_building", {:id => "tagbuildingjs", "data-session" => "#{@isNew}"} %>
<% end %>

<%= link_to "Tutorial", "javascript:;", :id => "link-help" %>

<div id="main-container">
	<%= render :partial => "partials/tutorial" %>

	<%= render :partial => "partials/score" %>

	<div id="map-container">
		<div id="map"></div>
	</div>
	<div id="buttons">
		<div class="wrapper">
			<a href="javascript:;" id="no-button">NO</a>
			<a href="javascript:;" id="fix-button">FIX</a>
			<a href="javascript:;" id="yes-button">YES</a>
		</div>
		<!-- <div class="wrapper" data-step="2" data-intro="You classify the polygons here">
			<a href="javascript:;" id="split-button">SPLIT</a>
			<a href="javascript:;" id="grow-button">GROW</a>
			<a href="javascript:;" id="shrink-button">SHRINK</a>
		</div> -->
	</div>
</div>
