<% content_for :page_title do %>Building Inspector by NYPL Labs<% end %>

<% content_for :dynamic_js do %>
  <%= stylesheet_link_tag    "fixer", :media => "all" %>
  <%= javascript_include_tag "inspector_color", {:id => "colorjs", "data-server" => CGI.escape("#{request.protocol}#{request.host_with_port}"), "data-session" => "#{@isNew}", "data-map" => "#{@map}"} %>
<% end %>

<%= render :partial => "partials/nav" %>
<%= render :partial => "partials/tutorial" %>

<%= render :partial => "partials/main_container", locals: {css_class: "compact"} %>

<div id="controls" class="compact">
  <div id="buttons">
    <div class="wrapper">
      <div class="multiple">
        <input id="multiple-color" class="css-checkbox" name="multiple-color" type="checkbox" value="1">
        <label for="multiple-color" class="css-label" id="multiple-text">More than one color?</label>
      </div>
      <a href="javascript:;" id="pink-button" title="Keyboard shortcut: 1" rel="nofollow">PNK</a>
      <a href="javascript:;" id="blue-button" title="Keyboard shortcut: 2" rel="nofollow">BLU</a>
      <a href="javascript:;" id="yellow-button" title="Keyboard shortcut: 3" rel="nofollow">YLW</a>
      <a href="javascript:;" id="green-button" title="Keyboard shortcut: 4" rel="nofollow">GRN</a>
      <a href="javascript:;" id="black-button" title="Keyboard shortcut: 5" rel="nofollow">GRY</a>
      <a href="javascript:;" id="save-button" class="button secondary color" rel="nofollow">SAVE</a>
    </div>
  </div>
</div>
<%= link_to (content_tag "span","The New York Public Library"), "http://www.nypl.org", {:class => "nypl-logo", :title => "Visit NYPL.org", :id=>"nypl-mini"} %>
