<% content_for :page_title do %>Building Inspector by NYPL Labs<% end %>

<% content_for :dynamic_js do %>
	<script type="text/javascript">
	var addToHomeConfig = {
		lifespan:4000
	};
	</script>
	<%= stylesheet_link_tag    "lib/vendor/add2home", :media => "all" %>
	<%= stylesheet_link_tag    "fixer", :media => "all" %>

	<%= javascript_include_tag "lib/vendor/add2home" %>

	<%= javascript_include_tag "geometry_inspector", {:id => "geometryjs", "data-server" => CGI.escape("#{request.protocol}#{request.host_with_port}"), "data-session" => "#{@isNew}", "data-map" => "#{@map}"} %>
<% end %>

<%= render :partial => "partials/nav" %>
<%= render :partial => "partials/tutorial" %>

<%= render :partial => "partials/main_container" %>

<div id="controls">
	<div id="buttons">
		<div class="wrapper">
			<a href="javascript:;" id="no-button" title="Keyboard shortcut: 1" rel="nofollow">NO</a>
			<a href="javascript:;" id="fix-button" title="Keyboard shortcut: 2" rel="nofollow">FIX</a>
			<a href="javascript:;" id="yes-button" title="Keyboard shortcut: 3" rel="nofollow">YES</a>
		</div>
	</div>
</div>
<%= link_to (content_tag "span","The New York Public Library"), "http://www.nypl.org", {:class => "nypl-logo", :title => "Visit NYPL.org", :id=>"nypl-mini"} %>
