<% content_for :page_title do %>Building Inspector by NYPL Labs<% end %>

<% content_for :dynamic_js do %>
	<%= stylesheet_link_tag    "fixer", :media => "all" %>
	<%= stylesheet_link_tag    "progress", :media => "all" %>
	<%= stylesheet_link_tag    "numbers", :media => "all" %>
	<%= stylesheet_link_tag    "lib/MarkerCluster", :media => "all" %>
	<%= stylesheet_link_tag    "lib/MarkerCluster.Default", :media => "all" %>
	<!--[if lte IE 8]>
	<%= stylesheet_link_tag    "lib/MarkerCluster.Default.ie", :media => "all" %>
	<![endif]-->

	<%= javascript_include_tag "progress_numbers", {:id => "progressjs", "data-server" => CGI.escape("#{request.protocol}#{request.host_with_port}"), "data-progress" => @progress} %>

	<%= javascript_include_tag "lib/leaflet.markercluster" %>
<% end %>


<%= render :partial => "partials/nav" %>

<div id="main-container">
  <%= render :partial => "partials/loading" %>
	<%= render :partial => "partials/legend" %>
	<%= render :partial => "partials/map" %>
</div>
<%= link_to (content_tag "span","The New York Public Library"), "http://www.nypl.org", {:class => "nypl-logo", :title => "Visit NYPL.org", :id=>"nypl-mini"} %>
