<% content_for :page_title do %>Progress<% end %>

<% content_for :dynamic_js do %>
	<%= javascript_include_tag "progress", {:id => "progressjs", "data-server" => CGI.escape("#{request.protocol}#{request.host_with_port}")} %>

	<%= stylesheet_link_tag    "jquery.swipeshow", :media => "all" %>
	<%= stylesheet_link_tag    "slideshow-theme", :media => "all" %>
	<%= javascript_include_tag "jquery.swipeshow.min" %>

	<%= stylesheet_link_tag    "progress", :media => "all" %>
	<%= stylesheet_link_tag    "MarkerCluster", :media => "all" %>
	<%= stylesheet_link_tag    "MarkerCluster.Default", :media => "all" %>
	<!--[if lte IE 8]>
	<%= stylesheet_link_tag    "MarkerCluster.Default.ie", :media => "all" %>
	<![endif]-->
	<%= javascript_include_tag "leaflet.markercluster" %>
<% end %>


<%= render :partial => "partials/nav" %>

<div id="main-container">
	<%= render :partial => "partials/tutorial" %>

	<%= render :partial => "partials/about" %>

	<%= render :partial => "partials/score" %>

	<%= link_to (content_tag "span", "CLOSE"), "javascript:;", {:id => "link-progress-close", :class => "close"} %>
	<div id="main-container">
		<div id="map-container" class="progress">
			<div id="map"></div>
		</div>
	</div>
</div>