<% content_for :page_title do %>About - Building Inspector by NYPL Labs<% end %>
<% content_for :dynamic_js do %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "about" %>
<% end %>

<%= render :partial => "partials/nav" %>

<div id="main-container">
  <div id="intro" class="about">
    <h3>What's this all about?</h3>

    <p>For years The New York Public Library has collected maps documenting the ever-changing metropolis. Originally commissioned by insurance companies to assess property value and fire risk, these street atlases contain a wealth of detailed information about a city now largely lost to us: buildings long ago destroyed, streets renamed, whole neighborhoods redrawn or redefined. Making these lost places findable via contemporary digital maps allows us to drill down through the layers of urban change and study the city in profound new ways. But harvesting the data isn't easy.</p>

    <p>That's where the Building Inspector (and you) come in. This app is the latest in a series of public-facing tools designed by The Library to extract, correct and analyze data from historical maps. We're training computers to do the heavy lifting, and then distributing the remaining quality control tasks to smart, motivated citizens. The goal? To produce a comprehensive directory of old New York (or, as we like to think of it, a time machine).</p>

    <p>Questions? Comments? Want to stay in touch as the project develops? Contact us at <a href="mailto:buildinginspector@nypl.org">buildinginspector@nypl.org</a>.</p>

                <h4>How is my work reviewed?</h4>

<p>Every time you inspect a building, you’re essentially casting a vote along with several other Inspectors on whether the computer-detected footprint is a Yes, No, or a Fix. We show the same footprint to at least 3 different people, and every 10 minutes we tally up the votes. If 75% or more agree, that footprint has reached “consensus” and the system removes it from the inspection queue. If the jury's still out, we keep the footprint in circulation until consensus is reached, focusing our collective efforts on the buildings most in need.</p>

<p>The main takeaway here is: relax! Your fellow Inspectors have got your back. It's no big deal if make a mistake once in a while, or make your best guess on an ambiguous case. The community will double, triple, and quadruple check you, and you them. Go Team!</p>

    <h4>More background on the project</h4>

    <p>Building Inspector was made by <a href="http://www.nypl.org/labs">NYPL Labs</a> in collaboration with the <a href="http://www.nypl.org/locations/schwarzman/map-division"> Lionel Pincus and Princess Firyal Map Division</a> at The New York Public Library. The app uses digitized city atlases georeferenced by librarians and public volunteers on NYPL's <a href="http://maps.nypl.org">Map Warper</a>, an online tool suite for creating interactive historical maps. These rectified maps are then passed through a new computer vision process devised by NYPL Labs called the <a href="https://github.com/NYPL/map-vectorizer">Map Vectorizer</a>, which recognizes building footprints and converts them into machine-readable shape files (think of it like <a href="http://en.wikipedia.org/wiki/Optical_character_recognition">OCR</a>, but for maps).</p>

    <p>This is a big leap forward in the work of digitizing old maps. Until now, feature extraction has been done manually by staff and volunteers, tracing each individual building footprint painstakingly by hand. This is a difficult task, usually requiring on-site training, and so it can take months or years to complete a single atlas. The Vectorizer, however, can crunch through an entire borough map in a matter of hours. The data's not perfect, but it's good enough to start figuring out easier, crowd-friendly tasks for validating and correcting it (like the yes/no/fix process at the center of this app). And all of that public input can then be used to refine and improve the Vectorizer process. Human-computer collaboration!</p>

    <p>But enough yapping. Let's inspect some buildings!</p>

    <div id="waypoint"></div>
    <div id="logo-background">
      <%= link_to "GO!", geometry_path, :id => "link-try" %>
    </div>

    <h4>CREDITS</h4>
    <p>
    <strong>The Lionel Pincus and Princess Firyal Map Division, NYPL</strong><br />
    Geospatial Librarian - Matt Knutzen<br />
    Geodata Specialist - Mishka Vance<br />
    </p>

    <p>
    <strong>NYPL Labs</strong><br />
    Lead Developer/Designer - Mauricio Giraldo<br />
    Development Support - Brian Foo<br />
    Manager, NYPL Labs - Ben Vershbow<br />
    Product Manager - David Riordan<br />
                Additional Development Support - Paul Beaudoin and Matt Miller
    </p>

    <p>
    <strong>Special Thanks</strong><br />
    Tony Marx - President & CEO, NYPL<br />
    Mary Lee Kennedy - Chief Library Officer, NYPL<br />
    Ann Thornton - Mellon Director, NYPL<br />
    Victoria Steele - Brooke Russell Astor Director of Collections Strategy, NYPL<br />
                Jane Aboyoun - Chief Technology Officer, NYPL<br />
    Jeff Roth - Vice President of Strategy, NYPL<br />
    Micah May - Director of Strategic Planning, NYPL<br />
    Jennifer Anderson - UX Designer, NYPL<br />
    Topomancy, LLC<br />
    Mike Resig
    </p>
    <div id="waypoint-dest"></div>
  </div>
</div>

<%= render :partial => "partials/footer" %>
