<% content_for :page_title do %>Data - Building Inspector by NYPL Labs<% end %>
<% content_for :dynamic_js do %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= stylesheet_link_tag    "lib/vendor/highlight.default", :media => "all" %>
  <%= javascript_include_tag "lib/vendor/highlight.pack" %>
  <script>hljs.initHighlightingOnLoad();</script>
<% end %>

<%= render :partial => "partials/nav" %>

<div id="main-container">
  <div id="intro" class="about">
  <div class="grouper">
    <h3>FREE polygons for fun (and profit)!</h3>

    <p>Why bother classifying thousands of building footprints if you can't get your hands on the resulting data, right? Well, fear not! Building Inspector has been built from the beginning to be open. As volunteers (like yourself) inspect polygons, the API endpoints below get updated (on a daily basis) to reflect the latest data (both the perfect and the imperfect bits).</p>

    <p>Read below for some basic documentation. If you need more detailed information, check out the <%= link_to "source code on GitHub", "https://github.com/NYPL/building-inspector" %> or drop us a line at <%= link_to "buildinginspector@nypl.org", "mailto:buildinginspector@nypl.org" %> or at <%= link_to "our Twitter account", "http://www.twitter.com/nypl_labs" %>.</p>

    <h5><a name="contents"></a>Contents</h5>
    <ul id="toc">
      <li><strong><%= link_to "Basics", "#basics" %></strong></li>
      <li>
        <strong><%= link_to "Polygons", "#polygons" %></strong>
        <ul>
          <li><strong><%= link_to "Geometry", "#geometry" %></strong></li>
          <li><strong><%= link_to "Color", "#color" %></strong></li>
          <li><strong><%= link_to "Address", "#address" %></strong></li>
        </ul>
      </li>
      <li>
        <strong><%= link_to "Sheets", "#sheets" %></strong>
        <ul>
          <li><strong><%= link_to "List", "#sheetslist" %></strong></li>
          <li><strong><%= link_to "Polygons", "#sheetspoly" %></strong></li>
          <li><strong><%= link_to "Place names", "#sheetstopo" %></strong></li>
          <li><strong><%= link_to "History", "#sheetshistory" %></strong></li>
          <li><strong><%= link_to "History for task", "#sheetshistorytask" %></strong></li>
        </ul>
      </li>
    </ul>

    <h4><a name="basics"></a>Some basics</h4>

    <p>In order to understand the API endpoints you first need to understand some basic Building Inspector concepts:</p>

    <dl>
        <dt>GeoJSON</dt>
        <dd>Everything in this API is returned as a <%= link_to "GeoJSON string", "http://geojson.org/" %>. You can easily verify/visualize the output using <%= link_to "GeoJSONLint", "http://geojsonlint.com/" %> or <%= link_to "GeoJSON.io", "http://geojson.io"%>.</dd>

        <dt>Polygon</dt>
        <dd>Polygons are the building blocks of the Building Inspector (har har). Polygons are possible building footprints that have been identified by the <%= link_to "NYPL Map Vectorizer", "https://github.com/NYPL/map-vectorizer" %>. The vectorizer produces some extra metadata that you can safely ignore (and may or may not be included in the API).</dd>

        <dt>Maps: Atlases and Sheets</dt>
        <dd>The maps in Building Inspector come from historical atlases of New York City which, rather than being one big map, are split into pages (because they're in books). Polygons come from atlas sheets which are scanned one at a time and then geo-rectified via the <%= link_to "NYPL Map Warper", "http://maps.nypl.org/warper" %>. The vectorizer goes through each map sheet and extracts buildings as best it can. And it's not good enough; that's why this site exists: to validate and improve the output of the vectorizer. Each polygon is associated to a <code>sheet_id</code>.</dd>

        <dt>Task</dt>
        <dd>The type of inspection being made to a polygon. Right now there are five tasks: <code>geometry</code>, <code>polygonfix</code>, <code>address</code>, <code>color</code> and <code>toponym</code>.</dd>

        <dt>Consensus</dt>
        <dd>In order to create reliable results, we present the same task several times to multiple users. We then run a process to make an effective decision of which value is the correct one based on an overwhelming user agreement. This is what we call &ldquo;consensus&rdquo;. The mechanism for consensus varies from task to task. <strong>Some of the endpoints in this API only return consensus values.</strong></dd>

        <dt>Geometry task</dt>
        <dd>This is the main/first task for any polygon. You are inspecting a polygon to find out if its shape: matches a building (value: <code>YES</code>), matches part of a building but needs fixing (value: <code>FIX</code>) or does not match a building at all (value: <code>NO</code>).</dd>

        <dt>Polygonfix task</dt>
        <dd>Polygons that are classified as <code>FIX</code> get sent to this task. Its purpose is to create new geometry(ies) that will better match the building(s). The resulting value is(are) GeoJSON geometry(ies).</dd>

        <dt>Address task</dt>
        <dd>Polygons that are classified as <code>YES</code> get sent to this task. Its purpose is to find the address numbers (if any) associated to a given polygon. The resulting value is an array of address numbers with their latitude and longitude values or <code>NONE</code>.</dd>

        <dt>Colors task</dt>
        <dd>Polygons that are classified as <code>YES</code> also get sent to this task. Its purpose is to find the colors present in a building. The resulting value is a comma-separated string with any of the colors. Current possible colors are <code>pink</code>, <code>blue</code>, <code>yellow</code>, <code>green</code> and <code>gray</code>.</dd>

        <dt>Toponym task</dt>
        <dd>Toponym is the fancy word for place name. Basically the text on the map. This task is applied to <strong>sheets instead of polygons</strong> since many placenames do not belong to a building (parks, cemeteries).</dd>

    </dl>
    <p><strong>Note:</strong> Not all tasks and consensus types have been implemented. If you <em>definitely have to have</em> those polygons (and we can't blame you) contact us at <%= link_to "our Twitter account", "http://www.twitter.com/nypl_labs" %> and we'll hook you up.
    <h5>Pagination</h5>
    <p>All results are paginated by <strong>batches of 500 results</strong> (you can always get fewer). You can append <code>/page/:page</code> to any endpoint to request the specific page. If you do not request a specific page, the first one will be returned. If you attempt to access a page beyond the last page you'll be returned an empty GeoJSON result.</p>
    <h3><a name="polygons"></a>Polygons</h3>
    <p>This section covers endpoints for building footprints (polygons).</p>
    <h4><a name="geometry"></a>Geometry</h4>
    <h5>GET /api/polygons/geometry/{value}</h5>
    <p>Returns the list of polygons that have a consensus of <code>{value}</code> (yes, no, fix). If no value is provided, <em>all</em> polygons will be returned regardless of their consensus.</p>
    <h6>Example response</h6>
    <pre>
        <code class="json">
{
  "message": "List for informative purposes only.",
  "polygon_count": "2",
  "page": 1,
  "per_page": 500,
  "total_pages": 1,
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "consensus": "yes",
        "id": 73000,
        "dn": 1002010,
        "sheet_id": 138
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-73.9981514825787, 40.75699146852938],
            [-73.99820209636397, 40.757014472045185],
            [-73.99816666671428, 40.75706431296879],
            [-73.99809833810419, 40.757035558594346],
            [-73.9981312370646, 40.75698955156937],
            [-73.99813629844313, 40.75698571764918],
            [-73.9981514825787, 40.75699146852938]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "consensus": "yes",
        "id": 73001,
        "dn": 1005025,
        "sheet_id": 138
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-73.9976238409442, 40.75697150401845],
            [-73.99763605041814, 40.75696082476952],
            [-73.99764622497976, 40.75696349458192],
            [-73.99778052919307, 40.75702223042746],
            [-73.99778256410538, 40.75703023985692],
            [-73.99775204042055, 40.75707028698976],
            [-73.9976055267333, 40.75700621156564],
            [-73.99760349182097, 40.75699820213328],
            [-73.9976238409442, 40.75697150401845]
          ]
        ]
      }
    }
  ]
}        </code>
    </pre>
    <h4><a name="color"></a>Color</h4>
    <h5>GET /api/polygons/color/{value}</h5>
    <p>Returns the list of polygons that were marked as "yes" in the geometry task and have a consensus of <code>{value}</code> (pink, blue, yellow, green, gray or a <em>combination of those in alphabetical order</em>).</p>
    <h6>Example response</h6>
    <pre>
        <code class="json">
{
  "message": "List for informative purposes only.",
  "polygon_count": "2",
  "page": 1,
  "per_page": 500,
  "total_pages": 1,
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "consensus": "yellow",
        "id": 73000,
        "dn": 1002010,
        "sheet_id": 138
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-73.9981514825787, 40.75699146852938],
            [-73.99820209636397, 40.757014472045185],
            [-73.99816666671428, 40.75706431296879],
            [-73.99809833810419, 40.757035558594346],
            [-73.9981312370646, 40.75698955156937],
            [-73.99813629844313, 40.75698571764918],
            [-73.9981514825787, 40.75699146852938]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "consensus": "pink",
        "id": 73001,
        "dn": 1005025,
        "sheet_id": 138
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-73.9976238409442, 40.75697150401845],
            [-73.99763605041814, 40.75696082476952],
            [-73.99764622497976, 40.75696349458192],
            [-73.99778052919307, 40.75702223042746],
            [-73.99778256410538, 40.75703023985692],
            [-73.99775204042055, 40.75707028698976],
            [-73.9976055267333, 40.75700621156564],
            [-73.99760349182097, 40.75699820213328],
            [-73.9976238409442, 40.75697150401845]
          ]
        ]
      }
    }
  ]
}        </code>
    </pre>
    <h4><a name="address"></a>Address</h4>
    <h5>GET /api/polygons/address</h5>
    <p>Returns the list of polygons that were marked as "yes" in the geometry task and have a consensus of either <code>NONE</code> (buildings that do not have an address associated) or a JSON structure . <strong>Numerical consensus will be added later.</strong></p>
    <h6>Example response</h6>
    <pre>
        <code class="json">
{
  "message": "List for informative purposes only. This is not a definitive list. This URL may be changed at any time without prior notice.",
  "polygon_count": "64086",
  "page": 1,
  "per_page": 500,
  "total_pages": 129,
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "id": 93270,
        "dn": 309909,
        "sheet_id": 186,
        "consensus": [
          {
            "latitude": 40.7276083810125,
            "longitude": -74.0093544870615,
            "flag_value": "117",
            "votes": 4,
            "total_votes": 4,
            "flaggable_id": 93270
          }
        ]
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-74.00933215733832, 40.72762581318789],
            [-74.0093859620873, 40.727630105219944],
            [-74.00936897111393, 40.727720237829026],
            [-74.0093066708783, 40.72771379978957],
            [-74.00932083002276, 40.72762366717176],
            [-74.00933215733832, 40.72762581318789]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "id": 77181,
        "dn": 376944,
        "sheet_id": 147,
        "consensus": "NONE"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-73.98278569092857, 40.76394745989852],
            [-73.98282496740708, 40.76396445889229],
            [-73.98276044176382, 40.76405157866709],
            [-73.98275483083829, 40.76405370353822],
            [-73.98271274889703, 40.76403670456728],
            [-73.98271274889703, 40.76402820508019],
            [-73.98277446907755, 40.763945335024],
            [-73.98278569092857, 40.76394745989852]
          ]
        ]
      }
    }
  ]
}        </code>
    </pre>

    <h3><a name="sheets"></a>Sheets</h3>
    <p>This section covers endpoints for data related to sheets.</p>

    <h4><a name="sheetslist"></a>List</h4>
    <h5>GET /api/sheets</h5>
    <p>Returns the list of sheets with their bounding box as a polygon.</p>
    <h6>Example response</h6>
    <pre>
        <code class="json">
{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "bbox": "-74.005129,40.6844534,-73.9962649,40.6921512",
        "created_at": "2013-11-19T21:50:44Z",
        "id": 268,
        "layer_id": 860,
        "map_id": "7240",
        "status": "done",
        "updated_at": "2013-11-19T21:50:44Z"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-74.005129, 40.6844534],
            [-74.005129, 40.6921512],
            [-73.9962649, 40.6921512],
            [-73.9962649, 40.6844534],
            [-74.005129, 40.6844534]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "bbox": "-73.9910573,40.7729807,-73.9808465,40.781313",
        "created_at": "2013-10-18T15:27:46Z",
        "id": 161,
        "layer_id": 859,
        "map_id": "7122",
        "status": "done",
        "updated_at": "2013-10-18T15:27:46Z"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-73.9910573, 40.7729807],
            [-73.9910573, 40.781313],
            [-73.9808465, 40.781313],
            [-73.9808465, 40.7729807],
            [-73.9910573, 40.7729807]
          ]
        ]
      }
    }
  ]
}        </code>
    </pre>


    <h4><a name="sheetspoly"></a>Polygons</h4>
    <h5>GET /api/sheets/{id}/polygons</h5>
    <p>Returns the list of raw (before any inspection) polygons for a sheet with ID <code>{id}</code>.</p>
    <h6>Example response</h6>
    <pre>
        <code class="json">
{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "consensus": null,
        "id": 115093,
        "dn": 136023,
        "sheet_id": 219
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-74.0071522085753, 40.73576686668677],
            [-74.00717989858511, 40.73576686668677],
            [-74.00721451109736, 40.73589275539532],
            [-74.00714874732408, 40.7359006234317],
            [-74.00714182482163, 40.73589275539532],
            [-74.00711413481184, 40.73577473473803],
            [-74.0071522085753, 40.73576686668677]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "consensus": null,
        "id": 115311,
        "dn": 358460,
        "sheet_id": 219
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-74.00545790306707, 40.73489464280556],
            [-74.00547602169983, 40.73489199081001],
            [-74.005498157153, 40.73498241159547],
            [-74.00543161226139, 40.73499218213892],
            [-74.00542825434526, 40.73498853932166],
            [-74.00540923016135, 40.73490270720948],
            [-74.00545790306707, 40.73489464280556]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "consensus": null,
        "id": 115204,
        "dn": 247288,
        "sheet_id": 219
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-74.00629287248056, 40.7353050363298],
            [-74.00630477235585, 40.735308159882706],
            [-74.00630001240573, 40.735348766057236],
            [-74.00626074281725, 40.735347204281744],
            [-74.00620243342827, 40.735336271852326],
            [-74.006210763341, 40.735322215869004],
            [-74.00623694306664, 40.73531909231675],
            [-74.0062631227923, 40.73530347455329],
            [-74.00629287248056, 40.7353050363298]
          ]
        ]
      }
    }
  ]
}        </code>
    </pre>


    <h4><a name="sheetstopo"></a>Place names</h4>
    <h5>GET /api/sheets/{id}/toponyms</h5>
    <p>Returns the place name consensus (so far) associated with a sheet with ID <code>{id}</code>.</p>
    <h6>Example response</h6>
    <pre>
        <code class="json">
{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "consensus": "Rigging Loft"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -73.987003415823,40.704169027369
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "consensus": "Pattern Shop"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -73.988353908062,40.70355766475467
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "consensus": "Office"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -73.98514822125433,40.703639338245004
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "consensus": "Casting Shop"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -73.98815944790833,40.70215801635367
        ]
      }
    }
  ]
}        </code>
    </pre>


    <h4><a name="sheetshistory"></a>History</h4>
    <h5>GET /api/sheets/{id}/history</h5>
    <p>Returns the all the flags associated with a sheet with ID <code>{id}</code> and its child polygons sorted by creation date.</p>
    <h6>Example response</h6>
    <pre>
        <code class="json">
{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "id": 5460,
        "flaggable_id": 115148,
        "flaggable_type": "Polygon",
        "flag_type": "geometry",
        "session_id": "461a3dfcd472454b40cb2b4e4430c24e",
        "flag_value": "yes"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [-74.009614466801, 40.733523404832]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "id": 5462,
        "flaggable_id": 115650,
        "flaggable_type": "Polygon",
        "flag_type": "geometry",
        "session_id": "461a3dfcd472454b40cb2b4e4430c24e",
        "flag_value": "no"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [-74.009614466801, 40.733523404832]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "id": 5464,
        "flaggable_id": 115379,
        "flaggable_type": "Polygon",
        "flag_type": "geometry",
        "session_id": "461a3dfcd472454b40cb2b4e4430c24e",
        "flag_value": "fix"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [-74.005486621588, 40.734717823179]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "id": 515374,
        "flaggable_id": 115327,
        "flaggable_type": "Polygon",
        "flag_type": "color",
        "session_id": "71bc5e397a03204feffaacaaa3cd4786",
        "flag_value": "pink"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [-74.008614570398, 40.73486559075]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "id": 475918,
        "flaggable_id": 115531,
        "flaggable_type": "Polygon",
        "flag_type": "address",
        "session_id": "242f3036646659bb271dc092f046dd91",
        "flag_value": "130"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [-74.007593616843, 40.734154657598]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "id": 1128326,
        "flaggable_id": 219,
        "flaggable_type": "Sheet",
        "session_id": "33087b9380a0e7ff73b2ce0184006bf5",
        "flag_value": "Smelter of Metals"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [-74.009640812874, 40.735820214571]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "id": 483279,
        "flaggable_id": 115471,
        "flaggable_type": "Polygon",
        "flag_type": "polygonfix",
        "session_id": "419d87dc88fcb88b246925899ec69f2f"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [-74.00954919204457, 40.734321831207836],
            [-74.009715244174, 40.73429032227927],
            [-74.00970585644245, 40.73435637614378],
            [-74.00956369936465, 40.73437568418409],
            [-74.00954919204457, 40.734321831207836]
          ]
        ]
      }
    }
  ]
}        </code>
    </pre>

    <h4><a name="sheetshistorytask"></a>History for task</h4>
    <h5>GET /api/sheets/{id}/history/{task}</h5>
    <p>Returns the all the flags associated with a sheet with ID <code>{id}</code> and task <code>{task}</code> and its child polygons sorted by creation date.</p>
    <h6>Example response</h6>
    <pre>
        <code class="json">
{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "id": 5460,
        "flaggable_id": 115148,
        "flaggable_type": "Polygon",
        "flag_type": "geometry",
        "session_id": "461a3dfcd472454b40cb2b4e4430c24e",
        "flag_value": "yes"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [-74.009614466801, 40.733523404832]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "id": 5462,
        "flaggable_id": 115650,
        "flaggable_type": "Polygon",
        "flag_type": "geometry",
        "session_id": "461a3dfcd472454b40cb2b4e4430c24e",
        "flag_value": "no"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [-74.009614466801, 40.733523404832]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "id": 5464,
        "flaggable_id": 115379,
        "flaggable_type": "Polygon",
        "flag_type": "geometry",
        "session_id": "461a3dfcd472454b40cb2b4e4430c24e",
        "flag_value": "fix"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [-74.005486621588, 40.734717823179]
      }
    }
  ]
}        </code>
    </pre>

  </div>

  </div>
</div>

<%= render :partial => "partials/footer" %>
