<% content_for :page_title do %>Building Inspector by NYPL Labs<% end %>
<% content_for :dynamic_js do %>
	<%= stylesheet_link_tag    "home", :media => "all" %>
	<script type="text/javascript">
	// scroll to top (hide bar in ios)
	window.addEventListener("load",function() {
		setTimeout(function(){
			window.scrollTo(0, 1);
		}, 0);
	});
	</script>
<% end %>

<%= render :partial => "partials/nav" %>

<div id="main-container">
	<div class="intro">
		<h3>Help trace<br />New York City's<br />past</h3>
		<div id="logo-background">
			<%= link_to "SHAPE", "/building", {:id => "link-try", :class => "home-big-link"} %>
			<%= link_to "ADDRESS", "/numbers", {:id => "link-numbers", :class => "home-big-link"} %>
		</div>
		<p>The <strong>New York Public Library</strong> is training computers how to recognize building shapes and other information from old city maps. Help us clean up the data so that it can be used in research, teaching and civic hacking.</p>
                <p>Currently under inspection:
<ul>
<li><strong>Maps of the City of Brooklyn, 1855</strong> </li>
<li><strong>Maps of the City of New York, 1857-62</strong></li>
</ul>
</p>
	</div>
</div>

<%= render :partial => "partials/footer" %>
