<% content_for :page_title do %>Building Inspector by NYPL Labs<% end %>
<% content_for :dynamic_js do %>
  <%= stylesheet_link_tag "home", :media => "all" %>
  <%= javascript_include_tag "home" %>
<% end %>

<%= render :partial => "partials/nav" %>
<div id="main-container">
  <div id="welcome">
    <div class="wrapper">
      <h5>The New York Public Library presents</h5>
      <h3>Building Inspector</h3>
      <h4>Kill Time. Make History.</h4>
      <hr />
      <p>Welcome citizen cartographers!<br />Help unlock New York City's past by identifying<br />buildings and other details on beautiful old maps.</p>
      <%= link_to "GET STARTED", "javascript:;", :id => "link-learn-more", :class => "learn-more big-button" %>
    </div>
  </div>
  <div id="intro">
    <h3 class="major">HOW YOU CAN HELP</h3>
    <p class="subhead">The Library is training computers to recognize building shapes and other data on digitized insurance atlases. Via these easy, bite-sized tasks, you can help check the computers' work and capture other valuable information.</p>
    <div id="home-slideshow" class="swipeshow">
      <ul class="slides">
        <li id="slide1" class="slide">
          <%= link_to "", geometry_path, {:id => "slide-geometry"} %>
          <div class="wrap">
            <div id="slide1-yes" class="falls control green">YES</div>
            <div id="slide1-no" class="falls control red">NO</div>
            <div id="slide1-fix" class="falls control yellow">FIX</div>
          </div>
          <h4>CHECK<br />FOOTPRINTS</h4>
          <svg version="1.1" class="intro-path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 300" enable-background="new 0 0 960 300" xml:space="preserve">
            <polygon class="poly-yes" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="333,188 385.4,158.5 433.3,221.2 377.3,253.6 "/>
            <polygon class="poly-no" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="414.1,138.1 395,110.8 425.9,95.8 446.6,124.1 "/>
            <polygon class="poly-fix" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 483.4,73.2 565.3,51.1 648.6,135.1 "/>
          </svg>
        </li>
        <li id="slide3" class="slide">
          <%= link_to "", polygonfix_path, {:id => "slide-polygonfix"} %>
          <div class="wrap">
            <div id="slide3-a" class="falls marker"></div>
            <div id="slide3-b" class="falls marker"></div>
            <div id="slide3-c" class="falls marker"></div>
            <div id="slide3-d" class="falls marker"></div>
          </div>
          <h4>FIX<br />FOOTPRINTS</h4>
          <svg version="1.1" class="intro-path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 300" enable-background="new 0 0 960 300" xml:space="preserve">
            <polygon class="poly-a" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 483.4,73.2 565.3,51.1 648.6,135.1 "/>
            <polygon class="poly-b" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 472.4,59.2 565.3,51.1 648.6,135.1 "/>
            <polygon class="poly-c" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 472.4,59.2 551.3,37.1 648.6,135.1 "/>
          </svg>
        </li>
        <li id="slide2" class="slide">
          <%= link_to "", address_path, {:id => "slide-address"} %>
          <div class="wrap">
            <div id="slide2-a" class="falls number">123</div>
            <div id="slide2-b" class="falls number">117</div>
            <div id="slide2-c" class="falls number">111</div>
            <div id="slide2-d" class="falls number">113</div>
          </div>
          <h4>ENTER<br />ADDRESSES</h4>
          <svg version="1.1" class="intro-path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 300" enable-background="new 0 0 960 300" xml:space="preserve">
            <polygon class="poly-a" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="333,188 385.4,158.5 433.3,221.2 377.3,253.6 "/>
            <polygon class="poly-b" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="498.2,188.2 530.6,175.7 477.5,110.8 446.6,124.1 "/>
            <polygon class="poly-c" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 472.4,59.2 551.3,37.1 648.6,135.1 "/>
          </svg>
        </li>
        <li id="slide4" class="slide">
          <%= link_to "", color_path, {:id => "slide-color"} %>
          <div class="wrap">
            <div id="slide4-a" class="falls control color pink">PINK</div>
            <div id="slide4-b" class="falls control color pink">PINK</div>
            <div id="slide4-c" class="falls control color green">GREEN</div>
            <div id="slide4-d" class="falls control color black">GRAY</div>
          </div>
          <h4>CLASSIFY<br />COLORS</h4>
          <svg version="1.1" class="intro-path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 300" enable-background="new 0 0 960 300" xml:space="preserve">
            <polygon class="poly-a" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="333,188 385.4,158.5 433.3,221.2 377.3,253.6 "/>
            <polygon class="poly-b" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="498.2,188.2 530.6,175.7 477.5,110.8 446.6,124.1 "/>
            <polygon class="poly-c" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 472.4,59.2 551.3,37.1 648.6,135.1 "/>
            <polygon class="poly-d" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="352.5,110.6 377.6,97.2 389.8,113.1 364.2,126.7 "/>
          </svg>
        </li>
        <li id="slide5" class="slide">
          <%= link_to "", toponym_path, {:id => "slide-toponym"} %>
          <div class="wrap">
            <div id="slide5-a" class="falls toponym">Druggist</div>
            <div id="slide5-b" class="falls toponym">Coal House</div>
            <div id="slide5-c" class="falls toponym">Stable</div>
          </div>
          <h4>FIND<br />PLACE NAMES</h4>
        </li>
      </ul>
      <div id="slide-buttons">
        <%= link_to "CHECK FOOTPRINTS", geometry_path, {:id => "link-geometry", :class => "home-link"} %>
        <%= link_to "FIX FOOTPRINTS", polygonfix_path, {:id => "link-polygonfix", :class => "home-link"} %>
        <%= link_to "ENTER ADDRESSES", address_path, {:id => "link-address", :class => "home-link"} %>
        <%= link_to "CLASSIFY COLORS", color_path, {:id => "link-color", :class => "home-link"} %>
        <%= link_to "FIND PLACENAMES", toponym_path, {:id => "link-toponym", :class => "home-link"} %>
      </div>
    </div>
    <div>
      <p class="subhead">try any task you like, see which one(s) you like best</p>
      <p class="subhead">or:</p>
      <%= link_to "SURPRISE ME!", "#{@global_tasks.sample[:path]}", :id => "link-random-task", :class => "big-button" %>
    </div>
    <% if @has_score %>
    <div id="home-scores">
        <h3>Your inspections so far:</h3>
        <ul>
          <li><%= link_to(image_tag("icon-geometry.svg", :class=>"task-icon"), geometry_path, :class=>"link-task") %> <strong><%= @score_geometry %></strong> <%= "footprint".pluralize(@score_geometry) %> checked
            <br /><%= link_to("Inspect more!", geometry_path, :class=>"link-task") %></li>
          <li><%= link_to(image_tag("icon-polygonfix.svg", :class=>"task-icon"), polygonfix_path, :class=>"link-task") %> <strong><%= @score_polygonfix %></strong> <%= "footprint".pluralize(@score_polygonfix) %> fixed
            <br /><%= link_to("Inspect more!", polygonfix_path, :class=>"link-task") %></li>
          <li><%= link_to(image_tag("icon-address.svg", :class=>"task-icon"), address_path, :class=>"link-task") %> <strong><%= @score_address %></strong> <%= "building".pluralize(@score_address) %> addressed
            <br /><%= link_to("Inspect more!", address_path, :class=>"link-task") %></li>
          <li><%= link_to(image_tag("icon-color.svg", :class=>"task-icon"), color_path, :class=>"link-task") %> <strong><%= @score_color %></strong> color <%= "ID".pluralize(@score_color) %>
            <br /><%= link_to("Inspect more!", color_path, :class=>"link-task") %></li>
          <li>&nbsp;</li>
          <li><%= link_to(image_tag("icon-toponym.svg", :class=>"task-icon"), toponym_path, :class=>"link-task") %> <strong><%= @score_toponym %></strong> place <%= "name".pluralize(@score_toponym) %>
            <br /><%= link_to("Inspect more!", toponym_path, :class=>"link-task") %></li>
        </ul>
    </div>
    <% end %>

    <div id="home-explained">
      <div class="header first">
        <h3>WHY THIS MATTERS</h3>
        <h4>Imagine if maps had a magic switch<br />that let you explore the geography of the past.</h4>
        <h4>The Library wants to do this for New York City, turning historical atlases into time machines.</h4>
      </div>
      <p class="subhead">To do it we need to harvest all the fantastic detail from the original maps: building footprints, addresses, construction materials etc. — clues that will help unlock a million stories. With this information organized and searchable, you can ask new kinds of questions about history. Peel back the layers of the city and replay its growth. 'Check in' to vanished establishments and meet their ghostly proprietors. Or discover related historical documents (newspapers, photographs, business directories…) linked by place and time.</p>
        <%= link_to "GET STARTED", "javascript:;", :id => "link-explained-get-started", :class => "learn-more big-button" %>
      <p class="centered"><%= link_to "LEARN MORE", about_path %></p>
    </div>


  </div>
</div>

<%= render :partial => "partials/footer" %>
