<% content_for :page_title do %>Building Inspector by NYPL Labs<% end %>
<% content_for :dynamic_js do %>
  <%= stylesheet_link_tag "home", :media => "all" %>
  <%= javascript_include_tag "home" %>
<% end %>

<%= render :partial => "partials/nav" %>

<div id="main-container">
  <div id="welcome">
    <div class="wrapper">
      <h5>The New York Public Library presents</h5>
      <h3>Building Inspector</h3>
      <h4>Kill Time. Make History.</h4>
      <hr />
      <p>Welcome citizen cartographers!<br />The Library wants to make New York City history fully discoverable on the web, opening our vast collections to anyone who wishes to study, teach, or hack the city's past. To tie it all together, we need your help identifying building footprints and other information from old maps. We've trained computers to do some of the heavy lifting and have designed simple data-cleaning tasks for you to take us the rest of the way.</p>
      <%= link_to "GET STARTED", "javascript:;", :id => "link-learn-more" %>
    </div>
  </div>
  <div id="intro">
    <div id="home-slideshow" class="swipeshow">
      <ul class="slides">
        <li id="slide1" class="slide">
          <%= link_to "", geometry_path, {:id => "slide-geometry"} %>
          <div class="wrap">
            <div id="slide1-yes" class="control green">YES</div>
            <div id="slide1-no" class="control red">NO</div>
            <div id="slide1-fix" class="control yellow">FIX</div>
          </div>
          <h4>CHECK<br />FOOTPRINTS</h4>
          <svg version="1.1" class="intro-path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 300" enable-background="new 0 0 960 300" xml:space="preserve">
            <polygon class="poly-yes" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="333,188 385.4,158.5 433.3,221.2 377.3,253.6 "/>
            <polygon class="poly-no" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="414.1,138.1 395,110.8 425.9,95.8 446.6,124.1 "/>
            <polygon class="poly-fix" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 483.4,73.2 565.3,51.1 648.6,135.1 "/>
          </svg>
        </li>
        <li id="slide3" class="slide">
          <%= link_to "", polygons_path, {:id => "slide-polygonfix"} %>
          <div class="wrap">
            <div id="slide3-a" class="marker"></div>
            <div id="slide3-b" class="marker"></div>
            <div id="slide3-c" class="marker"></div>
            <div id="slide3-d" class="marker"></div>
          </div>
          <h4>FIX<br />FOOTPRINTS</h4>
          <svg version="1.1" class="intro-path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 300" enable-background="new 0 0 960 300" xml:space="preserve">
            <polygon class="poly-a" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 483.4,73.2 565.3,51.1 648.6,135.1 "/>
            <polygon class="poly-b" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 472.4,59.2 565.3,51.1 648.6,135.1 "/>
            <polygon class="poly-c" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 472.4,59.2 551.3,37.1 648.6,135.1 "/>
          </svg>
        </li>
        <li id="slide2" class="slide">
          <%= link_to "", address_path, {:id => "slide-address"} %>
          <div class="wrap">
            <div id="slide2-a" class="number">123</div>
            <div id="slide2-b" class="number">117</div>
            <div id="slide2-c" class="number">111</div>
            <div id="slide2-d" class="number">113</div>
          </div>
          <h4>ENTER<br />ADDRESSES</h4>
          <svg version="1.1" class="intro-path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 300" enable-background="new 0 0 960 300" xml:space="preserve">
            <polygon class="poly-a" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="333,188 385.4,158.5 433.3,221.2 377.3,253.6 "/>
            <polygon class="poly-b" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="498.2,188.2 530.6,175.7 477.5,110.8 446.6,124.1 "/>
            <polygon class="poly-c" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 472.4,59.2 551.3,37.1 648.6,135.1 "/>
          </svg>
        </li>
        <li id="slide4" class="slide">
          <%= link_to "", color_path, {:id => "slide-address"} %>
          <div class="wrap">
            <div id="slide4-a" class="control color pink">PINK</div>
            <div id="slide4-b" class="control color pink">PINK</div>
            <div id="slide4-c" class="control color green">GREEN</div>
            <div id="slide4-d" class="control color black">GRAY</div>
          </div>
          <h4>CLASSIFY<br />COLORS</h4>
          <svg version="1.1" class="intro-path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 300" enable-background="new 0 0 960 300" xml:space="preserve">
            <polygon class="poly-a" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="333,188 385.4,158.5 433.3,221.2 377.3,253.6 "/>
            <polygon class="poly-b" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="498.2,188.2 530.6,175.7 477.5,110.8 446.6,124.1 "/>
            <polygon class="poly-c" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="562.3,163.1 472.4,59.2 551.3,37.1 648.6,135.1 "/>
            <polygon class="poly-d" fill="none" stroke="#FF0000" stroke-width="3" stroke-miterlimit="10" points="352.5,110.6 377.6,97.2 389.8,113.1 364.2,126.7 "/>
          </svg>
        </li>
      </ul>
      <div id="slide-buttons">
        <%= link_to "CHECK FOOTPRINTS", geometry_path, {:id => "link-geometry", :class => "home-link"} %>
        <%= link_to "FIX FOOTPRINTS", polygons_path, {:id => "link-polygonfix", :class => "home-link"} %>
        <%= link_to "ENTER ADDRESSES", address_path, {:id => "link-address", :class => "home-link"} %>
        <%= link_to "CLASSIFY COLORS", color_path, {:id => "link-color", :class => "home-link"} %>
      </div>
    </div>
    <% if @has_score %>
    <div id="home-scores">
        <p>
          So far you've inspected:
          <ul>
            <li><%= link_to(image_tag("icon-geometry.svg", :class=>"task-icon"), geometry_path) %> <strong><%= @score_geometry %></strong> building footprints
              <br /><%= link_to("Inspect more!", geometry_path) %></li>
            <li><%= link_to(image_tag("icon-address.svg", :class=>"task-icon"), address_path) %> <strong><%= @score_address %></strong> building addresses
              <br /><%= link_to("Inspect more!", address_path) %></li>
            <li><%= link_to(image_tag("icon-polygonfix.svg", :class=>"task-icon"), polygons_path) %> fixed <strong><%= @score_polygonfix %></strong> building polygons
              <br /><%= link_to("Inspect more!", polygons_path) %></li>
            <li><%= link_to(image_tag("icon-color.svg", :class=>"task-icon"), color_path) %> classified <strong><%= @score_color %></strong> building colors
              <br /><%= link_to("Inspect more!", color_path) %></li>
          </ul>
        </p>
    </div>
    <% end %>
    <div id="home-explained">
    </div>
  </div>
</div>

<%= render :partial => "partials/footer" %>
