<div id="footer">
	<p>
		• <%= link_to "Privacy Policy", "http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy" %> •
		<%= link_to "Rules and Regulations", "http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations" %> •
		<br /> • <%= link_to "Policy on Patron-Generated Web Content", "http://www.nypl.org/policy-patron-generated-web-content" %> •
		<%= link_to "Terms and Conditions", "http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions" %> •
	</p>

  <p>The data produced through this project is covered by a<br /><%= link_to "Creative Commons CC0 1.0 Universal Public Domain Designation.", "https://creativecommons.org/publicdomain/zero/1.0/" %> designation. By participating in this project, you agree that any copyrightable content you submit shall be subject to a <%= link_to "Creative Commons CC0 1.0 Universal Public Domain Dedication", "https://creativecommons.org/publicdomain/zero/1.0/" %></p>

	<p>A project of <%= link_to "NYPL Labs", "http://www.nypl.org/collections/labs" %> and the <%= link_to "Lionel Pincus and Princess Firyal Map Division", "http://www.nypl.org/locations/divisions/map-division" %>.</p>


	<%= link_to (content_tag "span","The New York Public Library"), "http://www.nypl.org", {:id => "link-nypl", :class => "nypl-logo", :title => "Visit NYPL.org"} %>
	<p>© The New York Public Library, Astor, Lennox, and Tilden Foundation 2013-<%= Time.now().year %></p>
</div>
