    <div id="links-account">
    <% if user_signed_in? %>
      <%= link_to "LOG OUT " + current_user.name, destroy_user_session_path, method: :delete, :id => "link-logout", :class=>"icon" %>
    <% else %>
<%
loginmsg = "LOG IN"
loginmsg = "SAVE SCORE" if @current_page=="progress" || @current_page=="fixer" || @current_page=="progress_numbers" || @current_page=="numbers"
%>
      <%= link_to "#{loginmsg}", "javascript:;", {:id => "link-login", :class => "icon score-save-link", :rel=>"nofollow"} %>
      <div class="popup">
        <%= link_to "Sign In With Gmail", user_omniauth_authorize_path(:google_oauth2), {:class => "popup-link", :rel=>"nofollow"} %>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), {:class => "popup-link", :rel=>"nofollow"} %>
        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), {:class => "popup-link", :rel=>"nofollow"} %>
        <div class="callout"></div>
      </div>
    <% end %>
    </div>
