<div id="top-nav">
	<%= link_to (content_tag "span","The New York Public Library"), "http://www.nypl.org", {:class => "nypl-logo", :title => "Visit NYPL.org"} %>
	<h1 class="logo"><a href="/" id="home-logo"><span>Building Inspector</span></a></h1>
	<div id="links-service">
		<div id="links-account">
		<%
		help_link = "/building?tutorial=true"
		help_link = "javascript:;" if @current_page=="fixer"
		%>
		<% if user_signed_in? %>
			<%= link_to "LOG OUT " + truncate(current_user.name, :length => 10, :omission => '…'), destroy_user_session_path, method: :delete, :id => "link-logout", :class=>"icon" %>
		<% else %>
			<%= link_to "LOG IN", "javascript:;", {:id => "link-login", :class => "icon score-save-link"} %>
			<div class="sign-in-options">
				<%= link_to "Sign In With Gmail", user_omniauth_authorize_path(:google_oauth2), {:class => "sign-in-link"} %>
				<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), {:class => "sign-in-link"} %>
				<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), {:class => "sign-in-link"} %>
				<div class="sign-in-callout"></div>
			</div>	 
		<% end %>
		</div><%= link_to "HELP", "#{help_link}", {:id => "link-help", :class => "icon"} %><%= link_to "ABOUT", "/general/about", {:id => "link-about", :class => "icon"} %>
	</div>
</div>
