<!-- 
	<div id="score">
		<div id="score-number" class="total" title="Buildings you have processed">0</div>
		<% if @current_page=="progress" %>
		<div id="map-total"></div>
		<% end %>
		<div id="map-bar" class="progress">
			<div class="bar map"></div>
		</div>
		<div id="score-save">
		  <% if user_signed_in? %>
		    <%= truncate(current_user.name, :length => 14, :omission => '…') %> <small><%= link_to 'EXIT', destroy_user_session_path, method: :delete %></small>
		  <% else %>
		    <%= link_to "SAVE SCORE", "#save-score", {:class => "score-save-link"} %>
		    <div class="sign-in-options">
          <%= link_to "Sign In With Gmail", user_omniauth_authorize_path(:google_oauth2), {:class => "sign-in-link"} %>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), {:class => "sign-in-link"} %>
          <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), {:class => "sign-in-link"} %>
          <div class="sign-in-callout"></div>
        </div>	 
			<% end %>
		</div>
		<% if @current_page=="progress" %>
		<div id="score-progress"><a href="/fixer/building">INSPECT MORE</a></div>
		<% else %>
		<div id="score-progress"><a href="/fixer/progress">VIEW PROGRESS</a></div>
		<% end %>
		<% if @current_page=="progress" %>
		<%= link_to "T", "", {:onclick=>"recordOutboundLink(this, 'Outbound Links', 'Twitter');return false;",:id => "tweet", :title => "Share on Twitter"} %>
		<% end %>
	</div>
 -->