	<div id="score">
		<div id="offline-mode"><%= link_to "GO OFFLINE", "javascript:;", {:rel => "nofollow"} %></div>
		<div id="score-number" class="total" title="Buildings you have processed">0</div>
		<% if @current_page=="progress" %>
		<div id="map-total"></div>
		<% end %>
		<div id="map-bar" class="progress">
			<div class="bar map"></div>
		</div>
		<div id="score-save">
		  <% if user_signed_in? %>
		    <span class="username"><%= current_user.name %></span><small><%= link_to 'x', destroy_user_session_path, method: :delete, :id => "link-exit" %></small>
		  <% else %>
		    <%= link_to "SAVE SCORE", "javascript:;", {:id => "link-score-save", :class => "score-save-link"} %>
		    <div class="sign-in-options">
          <%= link_to "Sign In With Gmail", user_omniauth_authorize_path(:google_oauth2), {:class => "sign-in-link"} %>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), {:class => "sign-in-link"} %>
          <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), {:class => "sign-in-link"} %>
          <div class="sign-in-callout"></div>
        </div>	 
			<% end %>
		</div>
		<div id="score-progress">
		<% if @current_page=="progress" %>
			<a href="/fixer/building" class="score-link">INSPECT MORE</a>
		<% else %>
			<a href="/fixer/progress" class="score-link">VIEW PROGRESS</a>
		<% end %>
		</div>
		<%= link_to "T", "", {:onclick=>"javascript:_gaq.push(['_trackEvent', 'Tweet']);",:id => "tweet", :title => "Share on Twitter"} %>
	</div>
