	<div id="map-tutorial" class="slideshow swipeshow">
		<ul class="slides">
			<li class="slide">
				<p>The New York Public Library is training computers how to recognize building shapes and other information from old city maps. We need your help clean up the data so the Library can open it up for use in research, teaching and civic hacking.</p>
				<p>&#x2190; SWIPE TO CONTINUE</p>
			</li>
			<li class="slide">
				<p>Currently we're working on: 
<a href="http://digitalcollections.nypl.org/search/index?filters%5Btitle_uuid_s%5D%5B%5D=Maps%20of%20the%20city%20of%20New%20York.%7C%7C06fd4630-c603-012f-17f8-58d385a7bc34&keywords=&layout=false" target="new">Maps of the City of New York, 1857-62, by William Perris</a>.</p>
			</li>
			<li class="slide">
				<p>Here's how the app works...</p>
				<%= image_tag "slide3.jpg" %>
				<p>We'll show you one computer-generated building outline at a time, laid over the original map.</p>
			</li>
			<li class="slide">
				<p>Along with 3 buttons:</p>
				<div class="wrapper">
					<span class="button red">NO</span>
					<span class="button yellow">FIX</span>
					<span class="button green">YES</span>
				</div>
				<p>YES: (keyboard 3) for when the outline matches a building footprint</p>
				<p>FIX: (keyboard 2) for when the outline mostly matches, but needs correcting</p>
				<p>NO: (keyboard 1) for when the outline is not around a building</p>
			</li>
			<li class="slide">
				<p>Let's walk through a few examples…</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial1.png" %>
				<div class="wrapper">
					<span class="button">NO</span>
					<span class="button">FIX</span>
					<span class="button green">YES</span>
				</div>
				<p>This outline matches the original building footprint.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial2.png" %>
				<div class="wrapper">
					<span class="button">NO</span>
					<span class="button yellow">FIX</span>
					<span class="button">YES</span>
				</div>
				<p>This outline got snagged on a piece of text and does not enclose the whole building.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial3.png" %>
				<div class="wrapper">
					<span class="button red">NO</span>
					<span class="button">FIX</span>
					<span class="button">YES</span>
				</div>
				<p>This outline does't match a building at all, but rather the space between buildings.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial5.png" %>
				<div class="wrapper">
					<span class="button">NO</span>
					<span class="button yellow">FIX</span>
					<span class="button">YES</span>
				</div>
				<p>Sometimes the computer is just a little bit off (e.g. here it missed a skylight).Your input can help us to train it to recognize these in the future.</p>
			</li>
			<li class="slide">
				<%= image_tag "slide10.jpg" %>
				<div class="wrapper">
					<span class="button">NO</span>
					<span class="button">FIX</span>
					<span class="button green">YES</span>
				</div>
				<p>But don't let perfect be the enemy of good.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial7.png" %>
				<div class="wrapper">
					<span class="button">NO</span>
					<span class="button">FIX</span>
					<span class="button green">YES</span>
				</div>
				<p>Some buildings have multiple parts. When in doubt, refer to the original map. Broken lines mean connected structures. Solid lines mean separate ones.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial4.png" %>
				<div class="wrapper">
					<span class="button">NO</span>
					<span class="button">FIX</span>
					<span class="button green">YES</span>
				</div>
				<p>Same goes for multi-colored buildings. Again, defer to those original lines (broken vs. solid).</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial6.png" %>
				<div class="wrapper">
					<span class="button">NO</span>
					<span class="button yellow">FIX</span>
					<span class="button">YES</span>
				</div>
				<p>This one is actually two separate buildings.</p>
			</li>
			<li class="slide">
				<%= image_tag "slide14.jpg" %>
				<div class="wrapper">
					<span class="button">NO</span>
					<span class="button yellow">FIX</span>
					<span class="button">YES</span>
				</div>
				<p>Occasionally a crease or seam in the map throws off the computer.</p>
			</li>
			<li class="slide">
				<%= image_tag "slide15.jpg" %>
				<div class="wrapper">
					<span class="button red">NO</span>
					<span class="button">FIX</span>
					<span class="button">YES</span>
				</div>
				<p>Sometimes the computer makes a mess.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial8.png" %>
				<div class="wrapper">
					<span class="button red">NO</span>
					<span class="button">FIX</span>
					<span class="button">YES</span>
				</div>
				<p>Laugh at the poor computer and move on.</p>
			</li>
			<li class="slide">
				<div class="overlay">
					<p>Now you're ready to begin checking buildings! You can always refer to this tutorial again by hitting the ? button.</p>
					<p>Have fun! And thanks for helping The New York Public Library.</p>
					<div class="wrapper">
						<a id="link-exit-tutorial" class="button green centered">START</a>
					</div>
				</div>
			</li>
		</ul>
		<!-- <button class="next"></button>
		<button class="previous"></button> -->
		<%= link_to (content_tag "span", "CLOSE"), "javascript:;", {:id => "link-help-close", :class => "close"} %>
		<div class='dots'></div>
	</div>
