	<div id="map-tutorial" class="slideshow swipeshow">
		<ul class="slides">
			<li class="slide">
				<p>Here's how this works.</p>
				<p>We'll show you a computer-generated building outline laid over a historical city map, along with 3 buttons:</p>
				<div class="wrapper">
					<a class="button red">NO</a>
					<a class="button yellow">FIX</a>
					<a class="button green">YES</a>
				</div>
				<p>SWIPE TO CONTINUE &#x2192;</p>
			</li>
			<li class="slide">
				<p>YES: for when the outline fits the building footprint perfectly (nice work, Computer!)</p>
				<div class="wrapper">
					<a class="button">NO</a>
					<a class="button">FIX</a>
					<a class="button green">YES</a>
				</div>
			</li>
			<li class="slide">
				<p>FIX: for when the outline matches a building footprint, but needs correcting</p>
				<div class="wrapper">
					<a class="button">NO</a>
					<a class="button yellow">FIX</a>
					<a class="button">YES</a>
				</div>
			</li>
			<li class="slide">
				<p>NO: for when the outline is not around a building at all (silly Computer)</p>
				<div class="wrapper">
					<a class="button red">NO</a>
					<a class="button">FIX</a>
					<a class="button">YES</a>
				</div>
				<p>Let's walk through a few examples…</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial1.png" %>
				<div class="wrapper">
					<a class="button">NO</a>
					<a class="button">FIX</a>
					<a class="button green">YES</a>
				</div>
				<p>This outline fits the building perfectly. Hit YES.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial2.png" %>
				<div class="wrapper">
					<a class="button">NO</a>
					<a class="button yellow">FIX</a>
					<a class="button">YES</a>
				</div>
				<p>This outline does not entirely enclose the building. Hit FIX.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial3.png" %>
				<div class="wrapper">
					<a class="button red">NO</a>
					<a class="button">FIX</a>
					<a class="button">YES</a>
				</div>
				<p>This outline does not fit at a building at all, but rather the space between buildings. Hit NO.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial5.png" %>
				<div class="wrapper">
					<a class="button">NO</a>
					<a class="button yellow">FIX</a>
					<a class="button">YES</a>
				</div>
				<p>Sometimes the computer is just a little bit off (e.g. here it missed a skylight). Hit FIX and we'll train it to recognize these in the future.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial7.png" %>
				<div class="wrapper">
					<a class="button">NO</a>
					<a class="button">FIX</a>
					<a class="button green">YES</a>
				</div>
				<p>Some buildings have odd shapes. When in doubt, defer to the original map. (e.g. here, the broken line indicates a single, connected building).</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial4.png" %>
				<div class="wrapper">
					<a class="button">NO</a>
					<a class="button">FIX</a>
					<a class="button green">YES</a>
				</div>
				<p>Some buildings are multi-colored. That's fine, as long as the outline covers the overall footprint.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial6.png" %>
				<div class="wrapper">
					<a class="button">NO</a>
					<a class="button yellow">FIX</a>
					<a class="button">YES</a>
				</div>
				<p>Sometimes the outline will cover more than one building. That's a fixer.</p>
			</li>
			<li class="slide">
				<%= image_tag "tutorial8.png" %>
				<div class="wrapper">
					<a class="button red">NO</a>
					<a class="button">FIX</a>
					<a class="button">YES</a>
				</div>
				<p>Sometimes the machine is way off. Laugh at the poor computer and move on.</p>
			</li>
			<li class="slide">
				<div class="overlay">
					<p>Now you're ready to begin checking buildings! You can always refer to this tutorial again by hitting the HELP button.</p>
					<p>Have fun! And thanks for helping The Library.</p>
					<a href="javascript:;" id="link-exit-tutorial" class="button green centered">START</a>
				</div>
			</li>
		</ul>
		<!-- <button class="next"></button>
		<button class="previous"></button> -->
		<div class='dots'></div>
	</div>
