<% content_for :dynamic_js do %>
  <style type="text/css">
    .wrapper {
      position: relative;
      width: 800px;
      height: 600px;
    }
    #map {
      width: 100%;
      height: 100%;
    }
    #info {
      position: absolute;
      top: 0;
      right: 0;
      /*width: 100px;*/
      /*height: 100px;*/
      padding: 10px;
      background: white;
      z-index: 10;
      text-align: right;
    }
  </style>
  <%= javascript_include_tag "admin/sheet_index", {:id => "sheetdata", "data-map" => "#{@sheets.to_json}"} %>
<% end %>

<div class="wrapper">
  <div id="info"></div>
  <div id="map"></div>
</div>

<h1>Listing sheets</h1>

<table>
  <tr>
    <th>Geometry</th>
    <th>Address</th>
    <th>Bbox</th>
    <th>Map</th>
    <th>Layer</th>
    <th>Map url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sheets.each do |sheet| %>
  <tr>
    <td><%= sheet.consensus %></td>
    <td><%= sheet.consensus_address %></td>
    <td><%= sheet.bbox %></td>
    <td><%= sheet.map_id %></td>
    <td><%= sheet.layer_id %></td>
    <td><%= sheet.map_url %></td>
    <td><%= link_to 'Show', sheet %></td>
    <td><%= link_to 'Edit', edit_sheet_path(sheet) %></td>
    <td><%# link_to 'Destroy', sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sheet', new_sheet_path %>

<%# will_paginate @sheets %>
