<% content_for :dynamic_js do %>
	<style type="text/css">
		#map {
			width: 800px;
			height: 600px;
		}
	</style>
	<%= javascript_include_tag "admin/sheet", {:id => "sheetdata", "data-map" => "#{@map.to_json}", "data-tiles" => "#{@tileset}", "data-sheet" => "#{@sheet.to_json}", "data-type" => "#{@tiletype}"} %>
<% end %>

<p id="notice"><%= notice %></p>

<div id="map"></div>

<p>
  <b>Polygon count:</b>
  <%= @sheet.polygons.count %>
</p>

<p>
  <b>Status:</b>
  <%= @sheet.status %>
</p>

<p>
  <b>Bbox:</b>
  <%= @sheet.bbox %>
</p>

<p>
  <b>Map:</b>
  <%= @sheet.map_id %>
</p>

<p>
  <b>Layer:</b>
  <%= @sheet.layer_id %>
</p>


<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>
