<h1>Listing <%= number_with_delimiter(@total) %> polygons</h1>
Filter by consensus:
<%= link_to_if params[:c]!=nil, "None", "/polygons" %>
<%= link_to_if params[:c]!="geometry", "Check", "/polygons?c=geometry" %>
<%= link_to_if params[:c]!="polygonfix", "Fix", "/polygons?c=polygonfix" %>
<%= link_to_if params[:c]!="address", "Address", "/polygons?c=address" %>
<%= link_to_if params[:c]!="color", "Color", "/polygons?c=color" %>
<table>
  <tr>
    <th><%= sortable "dn", "DN" %></th>
    <th>Geometry</th>
    <th><%= sortable "sheet", "Sheet" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @polygons.each do |polygon| %>
  <tr>
    <td><%= link_to polygon.dn, polygon %></td>
    <td><%= polygon.geometry.truncate(60) %></td>
    <td><%= link_to polygon.sheet_id, sheet_path(polygon.sheet_id) %></td>
    <td><%= link_to 'Show', polygon %></td>
    <td><%= link_to 'Edit', edit_polygon_path(polygon) %></td>
    <td><%# link_to 'Destroy', polygon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Polygon', new_polygon_path %>

<%= will_paginate @polygons %>
