<h1>Listing <%= number_with_delimiter(@total) %> polygons</h1>
<p>
    <strong>
        Current counts:<br/>
        <% @consensus_counts.each do |c| %>
        <%= c["consensus"].capitalize %>: <%= (c["percent"].to_f * 100).round(1) %>% 
        <% end %>
        of <%= number_with_delimiter(@consensus_total) %> polygons with consensus
    </strong>
</p>

<table>
  <tr>
    <th><%= sortable "dn", "DN" %></th>
    <th>Status</th>
    <th><%= sortable "sheet", "Sheet" %></th>
    <th><%= sortable "flag_count", "Flag count" %></th>
    <th><%= sortable "consensus", "Consensus" %></th>
    <th>Color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @polygons.each do |polygon| %>
  <tr>
    <td><%= polygon.dn %></td>
    <td><%= polygon.status %></td>
    <td><%= link_to polygon.sheet_id, sheet_path(polygon.sheet_id) %></td>
    <td><%= polygon.flag_count %></td>
    <td><%= polygon.consensus %></td>
    <td><%= polygon.color %></td>
    <td><%= link_to 'Show', polygon %></td>
    <td><%= link_to 'Edit', edit_polygon_path(polygon) %></td>
    <td><%# link_to 'Destroy', polygon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Polygon', new_polygon_path %>

<%= will_paginate @polygons %>
