<% content_for :dynamic_js do %>
  <style type="text/css">
    #map {
      width: 100%;
      height: 500px;
    }
  </style>
  <%= javascript_include_tag "admin/polygon", {:id => "polydata", "data-map" => "#{@map.to_json}", "data-flags" => "#{@flags.to_json}", "data-addresses" => "#{@polygon.consensus_address}", "data-polygonfix" => "#{@polygon.consensus_polygonfix}", "data-tiles" => "#{@tileset}", "data-type" => "#{@tiletype}"} %>
<% end %>

<p id="notice"><%= notice %></p>

<div id="map"></div>

<p>
  <b>Sheet:</b>
  <%= link_to @polygon.sheet_id, @polygon.sheet %>
</p>

<p>
  <b>Flags:</b>
  <%
  yes_count = 0
  no_count = 0
  fix_count = 0
  geometry_count = 0
  all_count = 0
  last_type = ""
  %>
  <% @polygon.flags.each do |f| %>
  <% if f.flag_type != last_type %>
  <br />
  <% last_type = f.flag_type %>
  <% end %>
  <% if f.flag_type == "address" %>
  address: <%= link_to_unless f.flag_value == "NONE", "#{f.flag_value}", f %>
  <%= "(#{f.usersession.user.role})" if f.usersession.present? && f.usersession.user.present? %><br />
  <% elsif f.flag_type == "geometry"  %>
  <%= f.flag_value %>
  <%= "(#{f.usersession.user.role})" if f.usersession.present? && f.usersession.user.present? %>
  <br />
  <%
  geometry_count = geometry_count + 1
  if f.flag_value == "yes"
    yes_count = yes_count + 1
  end
  if f.flag_value == "no"
    no_count = no_count + 1
  end
  if f.flag_value == "fix"
    fix_count = fix_count + 1
  end
  %>
  <% elsif f.flag_type == "color"  %>
  color: <%= link_to "#{f.flag_value}", f %>
  <%= "(#{f.usersession.user.role})" if f.usersession.present? && f.usersession.user.present? %><br />
  <% end %>
  <%
  all_count = all_count + 1
  %>
  <% end %>
  <% if geometry_count > 0 %>
  yes: <%= yes_count %> (<%= (yes_count.to_f / geometry_count.to_f * 100.0).round %>%)<br />
  no: <%= no_count %> (<%= (no_count.to_f / geometry_count.to_f * 100.0).round %>%)<br />
  fix: <%= fix_count %> (<%= (fix_count.to_f / geometry_count.to_f * 100.0).round %>%)<br />
  <% end %>
</p>

<p>
  <b>Flag count:</b>
  <%= all_count %>
</p>

<p>
  <b>Consensus</b>
  <br />Color: <%= @polygon.consensus_color %>
  <br />Geometry: <%= @polygon.consensus_geometry %>
  <br />Address: <%= @polygon.consensus_address %>
</p>

<p>
  <b>DN:</b>
  <%= @polygon.dn %>
</p>

<p>
  <b>Geometry:</b>
  <%= @polygon.geometry %>
</p>

<p>
  <b>Centroid:</b>
  <%= @polygon.centroid_lat %>, <%= @polygon.centroid_lon %>
</p>

<p>
  <b>Vectorizer json:</b>
  <%= @polygon.vectorizer_json %>
</p>

<p>
  <b>Color:</b>
  <%= @polygon.color %>
</p>


<%= link_to 'Edit', edit_polygon_path(@polygon) %> |
<%= link_to 'Back', polygons_path %>
