<% content_for :dynamic_js do %>
  <style type="text/css">
    #map {
      width: 300px;
      height: 300px;
    }
  </style>
  <%= javascript_include_tag "polygon", {:id => "polydata", "data-map" => "#{@map.to_json}"} %>
<% end %>

<p id="notice"><%= notice %></p>

<div id="map"></div>

<p>
  <b>Flags:</b>
  <% @polygon.flags.each do |f| %>
  <%= f.flag_value %><br />
  <% end %>
</p>

<p>
  <b>DN:</b>
  <%= @polygon.dn %>
</p>

<p>
  <b>Flag count:</b>
  <%= @polygon.flag_count %>
</p>

<p>
  <b>Geometry:</b>
  <%= @polygon.geometry %>
</p>

<p>
  <b>Status:</b>
  <%= @polygon.status %>
</p>

<p>
  <b>Centroid:</b>
  <%= @polygon.centroid_lat %>, <%= @polygon.centroid_lon %>
</p>

<p>
  <b>Vectorizer json:</b>
  <%= @polygon.vectorizer_json %>
</p>

<p>
  <b>Sheet:</b>
  <%= link_to @polygon.sheet_id, @polygon.sheet %>
</p>

<p>
  <b>Color:</b>
  <%= @polygon.color %>
</p>


<p>
  <b>Consensus:</b>
  <%= @polygon.consensus!= nil ? @polygon.consensus : "[None yet]" %>
</p>


<%= link_to 'Edit', edit_polygon_path(@polygon) %> |
<%= link_to 'Back', polygons_path %>
