<% content_for :dynamic_js do %>
  <style type="text/css">
    .spinner {
      left: 50%;
      top: 100px;
    }
    #container, #map {
      width: 100%;
      height: 100%;
    }
    #stats {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background: rgba(1,1,1,0.75);
    }
    #stats p {
      font-family: Kievit, Lato, Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: rgb( 170, 170, 170 ) !important;
    }
    #stats a {
      color: white !important;
      text-decoration: none;
    }
  </style>
  <%= javascript_include_tag "widgets/map", {:id => "data", "data-map" => "#{@data[:sheet].to_json}"} %>
<% end %>

<% server = "#{request.protocol}#{request.host_with_port}" %>

<div id="map"></div>
<div id="stats">
  <p>Progress in this <a href="<%= server %>/widgets/map/<%= @data[:sheet][:map_id] %>" title="click to visit NYPL Building Inspector" target="_top">sheet</a>: <%= @data[:polygons] %> buildings <a href="<%= server %>/footprint" target="_top">inspected</a>, <%= @data[:addresses] %> <a href="<%= server %>/address" target="_top">addressed</a>, <%= @data[:colors] %> <a href="<%= server %>/color" target="_top">colored</a>, <%= @data[:fixes] %> <a href="<%= server %>/fix" target="_top">fixed</a>.
</p>
</div>
