<h1>Listing <%= number_with_delimiter(@total) %> flags (<%= number_with_delimiter(@total_since_v2) %> since version 2)</h1>
<!-- <p><strong>Unique polygons per task:</strong>
<br /><strong>Checker:</strong> <%# number_with_delimiter(@unique_geometry) %> (<%# (@unique_geometry.to_f/@total_polygons.to_f * 100).to_i %>%)
<br /><strong>Address:</strong> <%# number_with_delimiter(@unique_address) %> (<%# (@unique_address.to_f/@total_yes.to_f * 100).to_i %>%)
<br /><strong>Color:</strong> <%# number_with_delimiter(@unique_color) %> (<%# (@unique_color.to_f/@total_yes.to_f * 100).to_i %>%)
<br /><strong>Fixer:</strong> <%# number_with_delimiter(@unique_polygonfix) %> (<%# (@unique_polygonfix.to_f/@total_fix.to_f * 100).to_i %>%)
</p> -->

<table>
  <tr>
    <th><%= sortable "flag_type", "Type" %></th>
    <th>Polygon</th>
    <th><%= sortable "session_id", "Session" %></th>
    <th>Flag value</th>
    <th>Is primary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flags.each do |flag| %>
  <tr>
    <td><%= flag.flag_type %></td>
    <td><%= link_to flag.polygon_id, polygon_path(flag.polygon_id) %></td>
    <td><%= flag.session_id %></td>
    <td><%= flag.flag_value %></td>
    <td><%= flag.is_primary %></td>
    <td><%= link_to 'Show', flag %></td>
    <td><%= link_to 'Edit', edit_flag_path(flag) %></td>
    <td><%= link_to 'Destroy', flag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flag', new_flag_path %>

<%= will_paginate @flags %>