<!DOCTYPE html>
<html>
<head>
	<title><%= yield :page_title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	
	<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no ,initial-scale=1.0" />

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon" href="/apple-touch-icon-iphone.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-iphone4.png">

	<%= stylesheet_link_tag    "add2home", :media => "all" %>
	<%= javascript_include_tag "add2home" %>

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.js'></script>
	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.css' rel='stylesheet' />
	<!--[if lte IE 8]>
	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.ie.css' rel='stylesheet' >
	<![endif]-->
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<%= yield :dynamic_js %>

</head>
<body>

<%= render :partial => "partials/admin-header" %>

<%= yield %>

</body>
</html>
